# Stuffff
build/
jegudiel/build/
image/build/
beelzebub/build/
bochsout.txt
.project
.cproject

BochsLog.txt

# vStuff
.vmake/
.sync/
.stfolder/
.stversions/
.vs/
*~
*.sublime-workspace
\.directory
/BOCHS.bat
/QEMU.bat
/start_vmware.bat
/start_vmware.ps1
/scripts/StartBochs.bat
/start_virtualbox.bat
/toolchain/debug.logger
/toolchain/**/*.o

/image/grub/
/include_

beelzebub/inc/Jegudiel.d
bochsrc.old.txt

copy.bat
copy.bat - Shortcut.lnk

last_settings.txt
start_cygwin.bat
mintty.exe.stackdump

vmake-edge.lua

# Ignored Files

/sysheaders/common/beel/jemalloc.tsd.h

# Cartman300's stuff

ToUSB.bat

Build.bat
CleanBuild.bat
